<o2 header />

<o2 addCss>
  body, html, iframe {
    height : 100%;
    width  : 100%;
  }
  iframe + iframe {
    display : none;
  }
</o2:addCss>

<iframe src="<o2 urlMod setClass='System-Desktop' setMethod='showDesktop'/>" name="desktop" scrolling="no" noresize marginwidth="0" marginheight="0" frameborder="0"></iframe>
<iframe src="about:blank" name="c1" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>
<iframe src="about:blank" name="c2" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>
<iframe src="about:blank" name="c3" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>
<iframe src="about:blank" name="c4" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>
<iframe src="about:blank" name="c5" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>
<iframe src="about:blank" name="c6" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>
<iframe src="about:blank" name="c7" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>
<iframe src="about:blank" name="c8" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>
<iframe src="about:blank" name="c9" scrolling="auto" noresize marginwidth="3" marginheight="3" frameborder="0"></iframe>

<o2 footer/>
